html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

section {
    min-height: 100%;
}

a{
    text-decoration: none;
}

li{

    list-style-type: none;
}
