*{
    margin: 0px;
    padding: 0px;
}

#curso {
    background-color: rgb(131, 133, 102);
}

.encabezado {
    margin-left: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 46px;
    color: #0a0a0a;
    
}