html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: #494949;
    text-transform: uppercase;
}

#logo img{
    width: 350px;
    height: 150px;
    float: left;
    transition: all 3000ms;
    
}

#logo :hover{
    opacity: 0.5;
}


section {
    min-height: 100%;
}

a{
    text-decoration: none;
}

li{

    list-style-type: none;
}

h2{
    color: #5d7177;
}

h3 {
    font-size: 48px;
    padding-top: 8%;
}
h4, p {font-family: 'Ubuntu', sans-serif; color: #494949;}

hr {
    width: 80px;
    height: 4px;
    background: #494949;
    border: 0;
    margin:o auto 40px auto;
}

header {
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

header nav {
    float: right;
    margin: 30px 50px 0 0;
}

header nav ul li {

    float: left;
    margin-right: 16px;

}

header nav ul li a{
    color: #494949;
    font-size: 28px;
    letter-spacing: 3px;
}

header nav ul li:hover {

    padding-top: 10px;
    opacity: 0.5;

}
#home{
    background: url(../img/home-travel.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


#home h1{
    margin: 180px auto 0 auto;
    font-size: 110px;
    color: #1b1b1b;
    
}
#home a img{
    
    width: 40px;
    height: 40px;
    opacity: 0.7;
}

#work{

background-color: #FDFCDC;
}

#projects{
    width: 900px;
    margin: 0 auto 0 auto;
   
}

#projects ul li{

width: 33.3%;
float:left;
margin-bottom: 15px;

}




#projects img {

    width: 280px;
    height: 170px;
    border-radius: 5px;
    

}


#projects img:hover {

    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    m

}

.form-container {
    width: 400px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }

footer{
    background-color: #0081A7;
}
